:root {
    --main-header-height: 18vh;
    --theme-color: #1f8fff;
}

* {
    font-family: Roboto;
    font-size: 16pt;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.sidebar {
    height: 100vh;
    background-color: var(--theme-color);
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: start;
    align-content: start;
    overflow: auto;
}

.sidebar > * {
    color: #ffffff;
    font-weight: bold;
    padding-left: 1em;
}

.sidebar-items {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: start;
    justify-self: start;
}

.sidebar-items > * {
    padding: 1em 0;
}

.logo,
.logo-text {
    font-size: 1.5em;
}

.icon {
    justify-self: center;
}

.sidebar-footer {
    display: grid;
    justify-self: center;
    align-self: end;
    font-size: 12pt;
    font-weight: normal;
    padding-bottom: 1em;
}

.main {
    height: 100vh;
}

.main-header {
    background-color: #ffffff;
    height: var(--main-header-height);
    display: grid;
    grid-auto-flow: row;
}

.header-top {
    display: grid;
    grid-template-areas: "search profile";
    padding: 0.5em;
}

.top-search-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

.top-profile-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 1em;
}

.header-bot {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    padding: 0.5em;
}

.bot-profile-container {
    align-self: center;
    display: grid;
    grid-template-areas: "profile greeting" "profile name";
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
}

.profile-pic-large {
    grid-area: profile;
    height: 4em;
    width: 4em;
}

.greeting {
    font-size: 12pt;
    align-self: end;
}

.name-large {
    font-size: 1.5em;
    font-weight: 600;
}

.bot-buttons-container {
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}

.bot-buttons-container > div {
    justify-self: center;
}

.header-button > button {
    padding: 0.25em 1.5em;
    border-radius: 1em;
    border-color: transparent;
    color: #ffffff;
    background-color: var(--theme-color);
    font-weight: 500;
}

.main-content {
    background-color: #e6e6e6;
    height: calc(100vh - var(--main-header-height));
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "projects announcements" "projects trending";
    gap: 1em;
    box-shadow: inset 0 8px 8px #b7b7b7;
}

.content-header {
    font-weight: 600;
}

.main-content > div {
    display: grid;
    padding: 1em;
}

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}
